.dices_container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.dices_container__dices {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 75px 0px;
    height: 90%;
}


.dices_container__btn {
    height: 10%;
}