.game_container {
  display: grid;
  grid-template-columns: 4fr minmax(165px, 1fr);
  grid-template-rows: min-content 6fr 1fr;
  width: 100%;
  position: relative;
}

.game_container__rules {
  grid-column-start: 2;
  align-self: center;
  justify-self: center;
  color: white;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1em;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}

.start_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60%;
  height: 40%;
  border-radius: 7px;
  border: solid 3px rgba(255, 255, 255, 0.144);
}

.start_container > legend {
  font-size: 2em;
  padding: 0 20px;
  color: white;
}

.num_of_players {
  display: flex;
  align-items: center;
  justify-content: center;
}

.num_of_players > input {
  font-size: 4em;
  margin: 50px;
  border: none;
  background-color: transparent;
  color: white;
  cursor: default;
  text-align: center;
  caret-color: transparent;
}

.num_of_players > input:focus {
  outline: none;
}

.num_of_players > button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  font-size: 3em;
  color: white;
  cursor: pointer;
}

.num_of_players .--unactive {
  cursor: default;
  opacity: 0.2;
}

.start_game_btn {
  border: solid 1px white;
  border-radius: 5px;
  font-weight: 900;
  font-size: 2em;
  color: white;
  background-color: rgb(29, 117, 161);
  margin: 50px;
  width: 100%;
  min-height: 100px;
  cursor: pointer;
}

@media only screen and (max-width: 750px) {
  .game_container__rules {
    display: none;
  }
}
