.game_container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 6fr 1fr;
}

.game_container__rules {
  grid-column-start: 2;
  align-self: center;
  justify-self: center;
}

.start_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60%;
  height: 40%;
  border-radius: 7px;
  border: solid 3px rgba(255, 255, 255, 0.144);
}

.start_container > legend {
  font-size: 2em;
  padding: 20px;
  background-color: transparent;
  color: white;
}

.start_container > input {
  font-size: 4em;
  margin: 50px;
  border: none;
  background-color: transparent;
  color: white;
}

.start_container > button {
  border: solid 1px white;
  border-radius: 5px;
  font-weight: 900;
  color: white;
  background-color: rgb(29, 117, 161);
  margin: 50px;
  width: 200px;
  height: 100px;
}
