.game_container__game_over {
  position: absolute;
  z-index: 2;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  backdrop-filter: blur(5px);
  border: solid 1px white;
  border-radius: 10px;
}

.game_container__game_over > div {
  margin: 50px;
  padding: 10px;
  font-size: 1.5em;
  background-color: silver;
}

.game_container__game_over > button {
  margin: 50px;
  border: solid 1px white;
  border-radius: 5px;
  font-weight: 900;
  color: white;
  background-color: rgb(29, 117, 161);
  width: 50%;
  height: 100px;
  font-size: 1em;
}
