@import url("https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  font-family: "Victor Mono", monospace;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 10%;
  background: #0f6052b5;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}
