.players_container {
  grid-area: 1 / 1 / 4 / 2;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: start;
  justify-items: center;
}

.players_container__player {
  position: relative;
}

.players_container__player > * {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active {
  grid-area: 1 / 2 / 4 / 3;
}

.players_container__player:not(.active) {
  scale: 0.4;
  margin: -120px;
  opacity: 0.75;
}

.gatekeepers {
  position: absolute;
  bottom: 0;
  left: 0;
}

.item > img {
  border-radius: 50%;
  margin: 0 3px;
}

.flock > .item > img:first-of-type {
  box-shadow: 0px 0px 3px 3px whitesmoke;
}

.gatekeepers > .item > img:first-of-type {
  box-shadow: 0px 0px 1px 3px rgb(170, 197, 129);
}
