.players_container {
  grid-area: 1 / 1 / 4 / 2;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: min-content min-content min-content;
  align-items: start;
  justify-items: center;
}

.players_container__player {
  position: relative;
}

h3 {
  color: #ffffff51;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  bottom: 20px;
  right: 0px;
  rotate: -63deg;
}

.players_container__player:hover h3 {
  color: #ffffff;
  transition: all 0.3s;
}

.players_container__player > * {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.--active {
  grid-area: 1 / 2 / 4 / 3;
  align-self: center;
}

.players_container__player:not(.--active) {
  scale: 0.4;
  margin: -100px -120px;
  opacity: 0.75;
}

.flock__items {
  position: relative;
}

.flock__items > img {
  border-radius: 50%;
  margin: 0 3px;
}

.flock > .flock__items > img:first-of-type {
  box-shadow: 0px 0px 3px 5px whitesmoke;
}

.flock__item:not(.--active),
.gatekeeper__item:not(.--active) {
  filter: grayscale();
}

.gatekeepers {
  position: absolute;
  bottom: 0;
  left: 0;
}

.flock__extra_items {
  z-index: 1;
  position: absolute;
  top: -10px;
  right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(29, 117, 161);
  color: white;
  font-size: 0.6em;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  filter: none;
}

.flock__buy_item_btn {
  position: absolute;
  top: 0;
  left: 3px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: rgba(0, 194, 220, 0.5);
  border: none;
  font-size: 3.5em;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 3px black;
}

.gatekeepers .flock__buy_item_btn {
  font-size: 2.5em;
  width: 50px;
  height: 50px;
}
